<style>
  #user_topbar
  {
    position: fixed;
    top: 0;
    width: 100%;
  }
  @media screen and (min-width: 900px)
  {
    #minilogout
    {
      display: block;
      float:right;
      margin-right: 10px;
      color:white;
      text-decoration: none;
    }
     #logout
      {
       
        float:right;
        margin-right: 10px;
        color: white;
        display: none;
      }  
  }
   @media screen and (max-width: 899px)
  {
     #minilogout
     {
        float:right;
        margin-right: 10px;
        color: white;
        display: none;
     }
     #logout
      {
         margin-top: 7px;
        display: block;
        float:left;
        margin-right: 10px;
        color: white;
      }  
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="user_topbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CSentiment</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/evaluation">Evaluation Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teachersevaluation">Summary</a>
        </li>
        
        <li>
          <a href="login.html" id="logout">logout</a>
        </li>
      </ul>
    </div>
  </div>
<a href="login.html" id="minilogout">logout</a>
</nav>